{% extends 'base.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/default.min.css">
    <style type="text/css">
    .chat-log {
      height: 500px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 10px;
      background-color: #fff;
      font-size: 0.9em;
      flex-direction: column-reverse;
    }

    .profile-image {
      width: 33px;
      height: 33px;
      margin-top: 0px;
      margin-bottom: auto;
    }

    .profile-image:hover {
      cursor: pointer;
    }

    .username-span {
      font-weight: 600;
      margin-top: 0;
      margin-bottom: auto;
      margin-left: 5px;
      margin-right: 5px;
    }

    .username-span:hover {
      cursor: pointer;
    }

    .msg-p {
      font-weight: 450;
      margin-top: 5px;
      margin-bottom: auto;
      margin-left: 5px;
      margin-right: 5px;
      white-space: normal;
      -ms-word-break: break-all;
      word-break: break-all;
    }

    .message-container {
      margin-top: 10px;
      justify-content: start;
    }

    .timestamp-span {
      font-weight: 400;
      font-size: 0.8em;
      color: var(--secondary-text-color);
    }

    .connected-users {
      color: limegreen;
    }

    .connected-users-icon {
      color: limegreen;
    }

    .connected-users-icon:hover {
      cursor: default;
    }
    </style>
{% endblock page_style %}
{% block content %}
    <div class="container">
        <!-- MEDIUM+ -->
        <div class="main d-none d-md-flex flex-column">
            <div class="card p-3 align-items-start">
                <h3 class="pb-2">Welcome to Realtime Chat!</h3>
                <p class="pb-1">This website is build using Python, Django and Django-Channels</p>
            </div>
            {% include "public_chat/snippets/public_chat_room.html" with room_id=room_id %}
        </div>
        <!-- END MEDIUM+ -->
        <!-- SMALL -->
        <div class="d-flex d-sm-none p-2">
            <p>Screen too short to view this website. Please open on the appropriate device.</p>
        </div>
        <!-- END SMALL -->
    </div>
{% endblock content %}
{% block page_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.6/markdown-it.min.js"
            integrity="sha512-7U8vY7c6UQpBNQOnBg3xKX502NAckvk70H1nWvh6W7izA489jEz+RCN3ntT1VMdXewaSKkOrEBegp/h6SPXrjw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script type="text/javascript">
    const setupPublicChatWebsocket = () => {

      const setPageNumber = (pageNumber) => {
        document.getElementById("id_page_number").innerText = pageNumber;
      }

      const setPageNumberExhausted = () => {
        setPageNumber(-1);
      }

      const getRoomPreviousChats = () => {
        const pageNumber = document.getElementById("id_page_number").innerText
        if (pageNumber !== "-1") {
          setPageNumberExhausted();   // Prevent further requests until previous request is complete
          displayChatLoadingSpinner(true);
          publicChatSocket.send(JSON.stringify({
            "command": "ROOM_MESSAGES",
            "room_id": {{ room_id }},
            "page_number": Number.parseInt(pageNumber)
          }))
        }
      }

      const handlePreviousRoomChats = (messages, newPageNumber) => {
        if (messages !== null && messages !== undefined && messages.length !== 0) {
          setTimeout(() => {
            displayChatLoadingSpinner(false);
            setPageNumber(newPageNumber);
            messages.forEach(message => {
              appendChatMessage(message, true, false)
            });
          }, 500)
        } else {
          displayChatLoadingSpinner(false);
          setPageNumberExhausted()
        }
      }

      const setConnectedUsersCount = (count) => {
        const element = document.getElementById("id_connected_users");
        element.innerText = count;
      }

      /*
      *********************** WEBSOCKET ********************
       */

      const ws_scheme = window.location.protocol === "https" ? "wss" : "ws";
      let ws_path;

      {% if debug_mode %}
        ws_path = `${ws_scheme}://${window.location.host}/public-chat/`;
      {% else %}
        ws_path = `${ws_scheme}://${window.location.host}/public-chat/`;
      {% endif %}

      const publicChatSocket = new WebSocket(ws_path);


      /*
      ************* ONMESSAGE ********************
       */
      publicChatSocket.onmessage = (message) => {
        console.log("Got chat message", message.data);
        const data = JSON.parse(message.data);

        // Check if there is an error
        if (data.error) {
          showClientErrorModal(data.message);
        } else if (data.join) {
          console.log(data.username, "joined the room");
          getRoomPreviousChats();
        } else if (data.msg_type === 0){
          appendChatMessage(data, true, true);
        } else if (data.msg_type === 1) {
          setConnectedUsersCount(data.connected_users_count);
        } else if (data.messages_payload) {
          console.log("PREVIOUS MESSAGES");
          handlePreviousRoomChats(data.messages, data.new_page_number)
        }
      }

      /*
      *************** ONCLOSE *******************
       */
      publicChatSocket.onclose = (e) => {
        console.log("Public chat socket CLOSED");
      }

      /*
      *************** ONOPEN *******************
       */
      publicChatSocket.onopen = (e) => {
        console.log("Public chat socket OPEN again");
        if ("{{ request.user.is_authenticated }}") {
          publicChatSocket.send(JSON.stringify({
            "command": "JOIN",
            "room_id": "{{ room_id }}"
          }))
        }
      }

      publicChatSocket.onerror = (e) => {
        console.log("error", e);
      }

      if (publicChatSocket.readyState === WebSocket.OPEN) {
        console.log("Public chat Socket OPEN STATE");
      }

      if (publicChatSocket.readyState === WebSocket.CONNECTING) {
        console.log("Public chat socket CONNECTING STATE");
      }

      document.getElementById("id_chat_message_input").focus();
      document.getElementById("id_chat_message_input").onkeyup = (e) => {
        if (e.keyCode === 13 && e.shiftKey) {
          // Enter + shiftkey
          // handled automatically by text area
        } else if (e.keyCode === 13 && !e.shiftKey) {
          document.getElementById("id_chat_message_submit").click();
        }
      };

      document.getElementById("id_chat_message_submit").onclick = (e) => {
        const messageInputDom = document.getElementById("id_chat_message_input");
        const message = messageInputDom.value;

        if (message !== undefined && message !== null && message.trim().length !== 0) {
          publicChatSocket.send(JSON.stringify({
            "command": "SEND",
            "message": message,
            "room_id": {{ room_id }}
          }));
        } else {
          alert("Cannot send empty message.");
        }
        messageInputDom.value = "";
      }

      const chatLog = document.getElementById("id_chat_log");
      chatLog.addEventListener("scroll", (e) => {
        if ((Math.abs(chatLog.scrollTop) + 2) >= (chatLog.scrollHeight - chatLog.offsetHeight)) {
          getRoomPreviousChats();
        }
      })
    }

    const appendChatMessage = (data, maintainPosition, isNewMessage) => {
      const {message, username, natural_timestamp, profile_image} = data;
      createChatMessageElement(message, username, profile_image, natural_timestamp, maintainPosition, isNewMessage);
    }

    const createChatMessageElement = (msg, username, profileImage, timestamp, maintainPosition, isNewMessage) => {
      const chatLog = document.getElementById("id_chat_log");
      const newMessageDiv = document.createElement("div");
      newMessageDiv.classList.add("d-flex", "flex-row", "message-container");

      const profileImageElement = document.createElement("img");
      profileImageElement.addEventListener("click", (e) => {
        const url = "{% url 'account:view' username=9999999999 %}".replace("9999999999", username);
        window.open(url, "_blank").focus();
      })
      profileImageElement.classList.add("profile-image", "rounded-circle", "img-fluid");
      if (profileImage !== null && profileImage !== undefined && profileImage.length > 0) {
        profileImageElement.src = profileImage;
      } else {
        profileImageElement.src = "{% static 'images/dummy_image.png' %}"
      }
      newMessageDiv.append(profileImageElement);

      const div1 = document.createElement("div");
      div1.classList.add("d-flex", "flex-column");

      const div2 = document.createElement("div");
      div2.classList.add("d-flex", "flex-row");

      const usernameSpan = document.createElement("span");
      usernameSpan.addEventListener("click", (e) => {
        const url = "{% url 'account:view' username=9999999999 %}".replace("9999999999", username);
        window.open(url, "_blank").focus();
      })
      usernameSpan.classList.add("username-span")
      usernameSpan.innerText = username + ": "
      div2.appendChild(usernameSpan);

      const timestampSpan = document.createElement("span")
      timestampSpan.innerText = timestamp;
      timestampSpan.classList.add("timestamp-span", "d-flex", "align-items-center");
      div2.appendChild(timestampSpan);

      div1.appendChild(div2);

      const msgP = document.createElement("p");
      msgP.innerHTML = validateText(msg);
      msgP.classList.add("msg-p");
      div1.appendChild(msgP);

      newMessageDiv.appendChild(div1);
      if (isNewMessage) {
        chatLog.insertBefore(newMessageDiv, chatLog.firstChild);
      } else {
        chatLog.appendChild(newMessageDiv);
      }

      if (!maintainPosition) {
        chatLog.scrollTop = chatLog.scrollHeight;
      }
    }

    setupPublicChatWebsocket();

    const showClientErrorModal = (message) => {
      document.getElementById("id_client_error_modal_body").innerText = message;
      document.getElementById("id_trigger_client_error_modal").click();
    }

    const displayChatLoadingSpinner = (toDisplay) => {
      const spinner = document.getElementById("id_chatroom_loading_spinner");
      if (toDisplay) {
        spinner.style.display = "block";
      } else {
        spinner.style.display = "none";
      }
    }

    const validateText = str => {
      const md = window.markdownit({
        highlight: (str, lang) => {
          if (lang && hljs.getLanguage(lang)) {
            try {
              return "<pre class='hljs'><code>" +
                hljs.highlight(lang, str, true).value +
                '</code></pre>';
            } catch (_) {}
          }
          return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
        },
        linkify: true
      });

      return md.render(str);
    }
</script>
{% endblock page_script %}
