<style type="text/css">
  .main {
    min-height: 100vh;
    height: 100%;
  }
  head {
    font-family: "Segoe UI", serif;
    font-weight: 380;
  }

  footer {
    font-family: "Segoe UI", serif;
    font-weight: 380;
  }

  body {
    background-color: var(--main-background-color);
    font-family: "Segoe UI", serif;
    font-weight: 380;
  }

  :root {
    --main-background-color: #f2f2f2;
    --dark-background-color: #a2a2a2;
    --secondary-text-color: #808080;
    --light-primary-text-color: #0080ff;
  }

  .footer {
    min-height: 100px;
  }

  .chat-dropdown-header {
    color: var(--light-primary-text-color);
  }

  .chat-dropdown-header:hover {
    cursor: pointer;
    background: var(--main-background-color);
  }

  .scrollable-menu{
    height: auto;
    max-height: 70vh;
    width: 60vh;
    overflow-y: auto !important;
  }
</style>
