{% load static %}

<script type="text/javascript">
  (function () {
    console.log("Running websocket");
    let websocket;
    let wsPath;
    let roomId;

    const friendContainerDiv = document.getElementsByClassName("friend-container");

    const sendData = (data) => {
      console.log("SENDING", data);
      websocket.send(JSON.stringify(data));
    }

    const showClientErrorModal = (message) => {
      document.getElementById("id_client_error_modal_body").innerText = message;
      document.getElementById("id_trigger_client_error_modal").click();
    }

    const closeWebSocket = () => {
      if (websocket !== null && websocket !== undefined) {
        websocket.close();
        websocket = null;
      }
    };

    const setUpWebsocket = (room_id) => {
      console.log("setUpWebsocket", room_id);
      roomId = room_id;
      closeWebSocket();

      const wsScheme = window.location.protocol == "https:" ? "wss" : "ws";

      {% if debug_mode %}
        wsPath = `${wsScheme}://${window.location.host}/private-chat/${roomId}/`;
      {% else %}
        wsPath = `${wsScheme}://${window.location.host}:8001/private-chat/${ roomId }/`;
      {% endif %}

      websocket = new WebSocket(wsPath);

      /*
      ###################### ON OPEN #######################
       */
      websocket.onopen = () => {
        console.log("Opening websocket");
        sendData({
          "command": "JOIN",
          "room_id": roomId
        });
      }

      /*
      ###################### ON CLOSE #######################
       */
      websocket.onclose = () => {
        console.log("Closing websocket");
      }

      /*
      ###################### ON ERROR #######################
       */
      websocket.onerror = (error) => {
        console.log("Error in websocket", error);
      }

      /*
      ###################### ON MESSAGE #######################
       */
      websocket.onmessage = (message) => {
        const data = JSON.parse(message.data);
        console.log("RECEIVED", data)
        if (data.join) {
          getUserInfo();
        }
        else if (data.user) {
          handleUserInfo(data.user)
        } else if (data.error) {
          showClientErrorModal(data.message);
        }
      }
    }

    const handleUserInfo = (userData) => {
      console.log("handleUserInfo", userData);
      document.getElementById("id_other_username").innerText = userData.username;
      if (userData.profile_image) {
        document.getElementById("id_other_user_profile_image").src = userData.profile_image;
      } else {
        document.getElementById("id_other_user_profile_image").src = "{% static 'images/dummy_image.png' %}"
      }
      document.getElementById("id_user_info_container").href = "{% url 'account:view' username=9999999999 %}".replace("9999999999", userData.username);
    }

    const getUserInfo = () => {
      sendData({
        "command": "USER_INFO",
        "room_id": roomId
      });
    }

    const getPrivateChatID = (e) => {
      const username = e.currentTarget.getAttribute("data-username");
      console.log("Get room id", username);
      const payload = {
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "user_2": username
      };

      $.ajax({
        type: "POST",
        dataType: "json",
        url: "{% url 'private_chat:private_room_id' %}",
        data: payload,
        timeout: 5000,
        success: (data) => {
          console.log(data);
          setUpWebsocket(data.chat_id);
        },
        error: (error) => {
          console.log(error);
        }
      })
    }

    Array.from(friendContainerDiv).forEach(function(div) {
      div.addEventListener('click', getPrivateChatID);
    });

  })();
</script>
