{% load static %}

<script type="text/javascript">
  (function () {
    console.log("Running websocket");
    let websocket;
    let wsPath;
    let roomId;

    const friendContainerDiv = document.getElementsByClassName("friend-container");

    const sendData = (data) => {
      console.log("SENDING", data);
      websocket.send(JSON.stringify(data));
    }

    const showClientErrorModal = (message) => {
      document.getElementById("id_client_error_modal_body").innerText = message;
      document.getElementById("id_trigger_client_error_modal").click();
    }

    const validateText = str => {
      const md = window.markdownit({
        highlight: (str, lang) => {
          if (lang && hljs.getLanguage(lang)) {
            try {
              return "<pre class='hljs'><code>" +
                hljs.highlight(lang, str, true).value +
                '</code></pre>';
            } catch (_) {}
          }
          return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
        },
        linkify: true
      });

      return md.render(str);
    }

    const createChatMessageElement = (msg, username, profileImage, timestamp, maintainPosition, isNewMessage) => {
      const chatLog = document.getElementById("id_chat_log");

      const newMessageDiv = document.createElement("div");
      newMessageDiv.classList.add("d-flex", "flex-row", "message-container");

      const profileImageImg = document.createElement("img");
      profileImageImg.addEventListener("click", e => selectUserId(username));
      profileImageImg.classList.add("profile-image", "rounded-circle", "img-fluid");
      if (profileImage  !== null && profileImageImg !== undefined) {
        profileImageImg.src = profileImage;
      } else {
        profileImageImg.src = "{% static 'images/dummy_image.png' %}";
      }

      newMessageDiv.appendChild(profileImageImg);

      const div1 = document.createElement("div");
      div1.classList.add("d-flex", "flex-column");

      const div2 = document.createElement("div");
      div2.classList.add("d-flex", "flex-row");

      const usernameSpan = document.createElement("span");
      usernameSpan.innerText = username + ": ";
      usernameSpan.classList.add("username-span");
      usernameSpan.addEventListener("click", e => selectUser(username));

      div2.appendChild(usernameSpan);

      const timestampSpan = document.createElement("span");
      timestampSpan.innerText = timestamp;
      timestampSpan.classList.add("d-flex", "align-items-center", "timestamp-span");

      div2.appendChild(timestampSpan);

      div1.appendChild(div2)

      const msgP = document.createElement("p");
      msgP.innerHTML = validateText(msg);
      msgP.classList.add("msg-p");

      div1.appendChild(msgP);

      newMessageDiv.appendChild(div1);

      if (isNewMessage) {
        chatLog.insertBefore(newMessageDiv, chatLog.firstChild);
      } else {
        chatLog.appendChild(newMessageDiv);
      }

      if (!maintainPosition) {
        chatLog.scrollTop = chatLog.scrollHeight;
      }
    }

    const createConnectedDisconnectedElement = (message, profileImage, username) => {
      const chatLog = document.getElementById("id_chat_log");

      const newMessageDiv = document.createElement("div");
      newMessageDiv.classList.add("d-flex", "flex-row", "message-container");

      const profileImageImg = document.createElement("img");
      profileImageImg.addEventListener("click", e => selectUserId(username));
      profileImageImg.classList.add("profile-image", "rounded-circle", "img-fluid");
      if (profileImage  !== null && profileImageImg !== undefined) {
        profileImageImg.src = profileImage;
      } else {
        profileImageImg.src = "{% static 'images/dummy_image.png' %}";
      }

      newMessageDiv.appendChild(profileImageImg);

      const div1 = document.createElement("div");
      div1.classList.add("d-flex", "flex-column");

      const div2 = document.createElement("div");
      div2.classList.add("d-flex", "flex-row");

      const usernameSpan = document.createElement("span");
      usernameSpan.innerText = message;
      usernameSpan.classList.add("username-span");
      usernameSpan.addEventListener("click", e => selectUser(username));

      div2.appendChild(usernameSpan);

      div1.appendChild(div2)

      newMessageDiv.appendChild(div1);

      chatLog.insertBefore(newMessageDiv, chatLog.firstChild);
    }

    const appendChatMessage = (data, maintainPosition, isNewMessage) => {
      const {msg_type, username, profile_image, message, natural_timestamp} = data;
      switch (msg_type) {
        case 0:
          createChatMessageElement(message, username, profile_image, natural_timestamp, maintainPosition, isNewMessage);
          break;

        case 1:
          createConnectedDisconnectedElement(message, profile_image, username);
          break;

        case 2:
          createConnectedDisconnectedElement(message, profile_image, username);
          break;

        default:
          console.log("Unsupported message type.");
      }
    }

    const closeWebSocket = () => {
      if (websocket !== null && websocket !== undefined) {
        websocket.close();
        websocket = null;
      }
    };

    const setUpWebsocket = (room_id) => {
      console.log("setUpWebsocket", room_id);
      roomId = room_id;
      closeWebSocket();

      const wsScheme = window.location.protocol == "https:" ? "wss" : "ws";

      {% if debug_mode %}
        wsPath = `${wsScheme}://${window.location.host}/private-chat/${roomId}/`;
      {% else %}
        wsPath = `${wsScheme}://${window.location.host}:8001/private-chat/${ roomId }/`;
      {% endif %}

      websocket = new WebSocket(wsPath);

      /*
      ###################### ON OPEN #######################
       */
      websocket.onopen = () => {
        console.log("Opening websocket");
        sendData({
          "command": "JOIN",
          "room_id": roomId
        });
      }

      /*
      ###################### ON CLOSE #######################
       */
      websocket.onclose = () => {
        console.log("Closing websocket");
      }

      /*
      ###################### ON ERROR #######################
       */
      websocket.onerror = (error) => {
        console.log("Error in websocket", error);
      }

      /*
      ###################### ON MESSAGE #######################
       */
      websocket.onmessage = (message) => {
        const data = JSON.parse(message.data);
        console.log("RECEIVED", data)
        if (data.join) {
          getUserInfo();
        }
        else if (data.user) {
          handleUserInfo(data.user)
        } else if (data.error) {
          showClientErrorModal(data.message);
        } else if ([0, 1, 2].includes(data.msg_type)) {
          appendChatMessage(data, false, true);
        }
      }
    }

    const handleUserInfo = (userData) => {
      console.log("handleUserInfo", userData);
      document.getElementById("id_other_username").innerText = userData.username;
      if (userData.profile_image) {
        document.getElementById("id_other_user_profile_image").src = userData.profile_image;
      } else {
        document.getElementById("id_other_user_profile_image").src = "{% static 'images/dummy_image.png' %}"
      }
      document.getElementById("id_user_info_container").href = "{% url 'account:view' username=9999999999 %}".replace("9999999999", userData.username);
    }

    const getUserInfo = () => {
      sendData({
        "command": "USER_INFO",
        "room_id": roomId
      });
    }

    const getPrivateChatID = (e) => {
      const username = e.currentTarget.getAttribute("data-username");
      console.log("Get room id", username);
      const payload = {
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "user_2": username
      };

      $.ajax({
        type: "POST",
        dataType: "json",
        url: "{% url 'private_chat:private_room_id' %}",
        data: payload,
        timeout: 5000,
        success: (data) => {
          console.log(data);
          setUpWebsocket(data.chat_id);
        },
        error: (error) => {
          console.log(error);
        }
      })
    }

    Array.from(friendContainerDiv).forEach(function(div) {
      div.addEventListener('click', getPrivateChatID);
    });

    const chatInput = document.getElementById("id_chat_message_input");
    const chatSubmit = document.getElementById("id_chat_message_submit")
    chatInput.focus();
    chatInput.onkeyup = (e) => {
      if (e.keyCode === 13 && e.shiftKey) {
        // No need to handle
      } else if (e.keyCode === 13 && !e.shiftKey) {
        chatSubmit.click();
      }
    }

    chatSubmit.onclick = (e) => {
      const message = chatInput.value;
      if (message !== null && message !== undefined && message.trim().length !== 0) {
        sendData({
          "command": "SEND",
          "message": message.trimRight(),
          "room_id": roomId
        });
        chatInput.value = ""
      } else {
        alert("Cannot send empty message, enter something");
        chatInput.value = "";
      }
    }
  })();
</script>
