{% extends 'base.html' %}
{% load static %}

{% block page_style %}
  <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}"/>
  <style type="text/css">
    .image-container {
      max-width: 390px;
      height: auto;
    }

    .field-heading {
      color: #737373;
    }

    #id-crop-section {
      width: 96%;
      height: 450px;
      position: relative;
    }

    #id-crop-section img {
      width: 96%;
      height: 450px;
    }
  </style>
{% endblock page_style %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="card profile-card" style="width: 400px">
        <div class="card-body">
          <div class="d-flex flex-column justify-content-center p-4">
            <div class="image-container align-self-center" id="id_image_container">
              <img class="border border-dark rounded-circle img-fluid mx-auto profile-image"
                   id="id_profile_image_display"
                   {% if request.user.profile_image %}
                     src="{{ form.initial.profile_image.url }}"
                   {% else %}
                     src="{% static 'images/dummy_image.png' %}"
                   {% endif %}
                   alt="logo">
            </div>
            <div class="middle text-center mt-4" id="id_middle_container">
              <div class="btn btn-outline-danger w-25 mr-3" id="id-cancel-upload">Cancel</div>
              <div class="btn btn-outline-primary w-25 ml-3" id="id_text">Edit</div>
            </div>
            <form class="form-signin" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input class="d-none" type="file" id="id_profile_image" name="profile_image"
                     onchange="readURL(this)">
              {{ form.x }} {{ form.y }} {{ form.width }} {{ form.height }} {{ form.upload_image }}
              <h6 class="mt-4 field-heading">Email</h6>
              <input type="email" name="email" id="id_input_email" class="form-control" placeholder="Email address"
                     required autofocus value={{ form.initial.email }}>
              <h6 class="mt-4 field-heading">Username</h6>
              <input type="text" name="username" id="id_input_username" class="form-control" placeholder="Username"
                     required
                     value="{{ form.initial.username }}">
              <div class="mt-4 checkbox">
                <label>
                  <input type="checkbox" name="hide_email" id="id_input_hide_email"
                         {% if form.initial.hide_email %}checked{% endif %}>
                  Hide Email
                </label>

              </div>

              {% for field in form %}
                <p>
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
              {% if form.non_field_errors %}
                <div style="color: red">
                  <p>{{ form.non_field_errors }}</p>
                </div>

              {% endif %}

              <div class="d-flex flex-column mt-4">
                <button class="mt-4 btn btn-primary flex-grow-1" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="id-edit-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crop the image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="id-crop-section" class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer mt-2">
          <button id="id-cancel-crop" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="id-confirm-crop" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block page_script %}
  <script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>
  <script type="text/javascript">
    let cropper;
    let cropX = document.getElementById("id_x");
    let cropY = document.getElementById("id_y");
    let cropWidth = document.getElementById("id_width");
    let cropHeight = document.getElementById("id_height");

    const imageDisplay = document.getElementById("id_profile_image_display");
    const confirmCrop = document.getElementById("id-confirm-crop");
    const cancelCrop = document.getElementById("id-cancel-crop");
    const cancelUpload = document.getElementById("id-cancel-upload");
    const cropSection = document.getElementById("id-crop-section");
    const editButton = document.getElementById("id_text");

    editButton.addEventListener("click", (event) => {
      document.getElementById('id_profile_image').click();
    })

    const setImageCropProperties = (x, y, width, height) => {
      console.log("x =", x, "y =", y, "width =", width, "height =", height);
      cropX.value = x;
      cropY.value = y;
      cropWidth.value = width;
      cropHeight.value = height;
    }

    const readURL = input => {
      if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = e => {
          if (input.files[0].size <= Number.parseInt("{{ DATA_UPLOAD_MAX_SIZE }}")) {
            const img = document.createElement("img");
            img.id = "id-image-cropper";
            img.src = e.target.result;
            cropSection.innerHTML = "";
            cropSection.appendChild(img);
            cropper = new Cropper(img, {
              aspectRatio: 1 / 1,
              viewMode: 1,
              crop(event) {
                setImageCropProperties(
                  event.detail.x,
                  event.detail.y,
                  event.detail.width,
                  event.detail.height
                )
              }
            });
            $("#id-edit-modal").modal("show");
          } else {
            alert("Selected file is greater than " + (Number.parseInt("{{ DATA_UPLOAD_MAX_SIZE }}") / 1024) / 1024 + " MB");
            document.getElementById("id_profile_image").value = "";
          }
        }

        reader.readAsDataURL(input.files[0])
      }
    }

    confirmCrop.addEventListener("click", (event) => {
      const imgSrc = cropper.getCroppedCanvas().toDataURL();
      imageDisplay.src = imgSrc;
      document.getElementById("id_upload_image").value = "1";
      cropper.destroy();
      cropper = null;
    })

    cancelCrop.addEventListener("click", event => {
      cropper.destroy();
      cropper = null;
    })

    cancelUpload.addEventListener("click", event => {
      window.location.reload();
    })

  </script>
{% endblock page_script %}
